<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="JsonFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.json" />
      <layout type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="SimpleFileAppender" type="log4net.Appender.FileAppender">
      <file value="C://Log//log.txt" />
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
    </appender>
    <appender name="SqlServerAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=true;" />
      <commandText value="INSERT INTO LogJson ([LogDetail],[Date],[Audit]) VALUES (@logDetail,@log_date,@audit)" />
      <parameter>
        <parameterName value="@logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
      </parameter>
      <parameter>
        <parameterName value="@audit" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </parameter>
    </appender>
    <appender name="OracleAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />
      <connectionString value="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.4.53)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dsidb)));User Id=TAKKANALIZ;Password=takk2009;" />
      <commandText value="INSERT INTO LOG4NET (LOG_ID,LOG_DATE,LOG_DETAIL) VALUES (LOG4NET_SEQ.NEXTVAL,:log_date,:logDetail)" />
      <parameter>
        <parameterName value=":log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value=":logDetail" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.JsonLayout" />
      </parameter>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender" >
      <applicationName value="DemoUygulama" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{sessionId}] [%property{page}] - %message%newline" />
      </layout>
    </appender>
    <appender name="MongoDbAppender" type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Appenders.MongoDB.MongoDbAppender">
      <connectionString value="mongodb://user01:123qwe@localhost:27017/logdb" />
      <collectionName value="log" />
      <field>
        <name value="sessionId" />
        <layout type="log4net.Layout.PatternLayout" value="%property{sessionId}" />
      </field>
      <field>
        <name value="page" />
        <layout type="log4net.Layout.PatternLayout" value="%property{page}" />
      </field>
      <field>
        <name value="audit" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </field>
      <field>
        <name value="date" />
        <layout type="log4net.Layout.PatternLayout" value="%date{dd'-'MM'-'yyyy HH':'mm':'ss'.'fff}" />
      </field>
      <field>
        <name value="message" />
        <!--<layout type="log4net.Layout.PatternLayout" value="%message" />-->
        <layout type="Abc.Core.CrossCuttingConcerns.Logging.Log4Net.Layouts.MongoDbLayout" />
      </field>
    </appender>
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </root>-->
    <logger name="FileLogger">
      <level value="ALL" />
      <appender-ref ref="JsonFileAppender" />
    </logger>
    <logger name="DataBaseLogger">
      <level value="ALL" />
      <appender-ref ref="SqlServerAppender" />
    </logger>
    <logger name="ConsoleLogger">
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="EventLogger">
      <level value="ALL" />
      <appender-ref ref="EventLogAppender" />
    </logger>
  </log4net>
</configuration>